Workflows/WF2 - Daily Support Analytics.json.json
{
  "name": "WF2 - Daily Support Analytics",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 59
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1008,
        -16
      ],
      "id": "cc05db26-bf29-49ec-9961-dd2980f03695",
      "name": "Run Daily Analytics(Schedule Trigger)"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appGHmrQxKT7b6Iim",
          "mode": "list",
          "cachedResultName": "Customer Support Ops",
          "cachedResultUrl": "https://airtable.com/appGHmrQxKT7b6Iim"
        },
        "table": {
          "__rl": true,
          "value": "tblmxD8oXNyg2hwUG",
          "mode": "list",
          "cachedResultName": "Ticket",
          "cachedResultUrl": "https://airtable.com/appGHmrQxKT7b6Iim/tblmxD8oXNyg2hwUG"
        },
        "filterByFormula": "IS_SAME({Created At}, TODAY(), 'day')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -800,
        -16
      ],
      "id": "08ac4492-65d7-4db4-ab70-c62346c93acb",
      "name": "Search Today Tickets",
      "credentials": {
        "airtableTokenApi": {
          "id": "dXCdQFhiS8XBicLs",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst ticketsToday = items.length;\n\nconst autoResolvedCount = items.filter(item => {\n  const flag = item.json[\"Auto Resolved Flag\"];\n  return flag === 1 || flag === true || flag === \"1\";\n}).length;\n\nconst refundsIssued = items.reduce((sum, item) => {\n  const value = Number(item.json[\"Refund Amount\"] || 0);\n  return sum + value;\n}, 0);\n\nconst escalations = items.filter(item => {\n  const val = item.json[\"Escalated\"];\n  return val === true || val === 1 || val === \"1\";\n}).length;\n\nconst autoResolvedPercent = ticketsToday > 0\n  ? Math.round((autoResolvedCount / ticketsToday) * 100)\n  : 0;\n\nreturn [\n  {\n    json: {\n      date: new Date().toISOString().slice(0, 10),\n      tickets_today: ticketsToday,\n      auto_resolved_percent: autoResolvedPercent,\n      refunds_issued: refundsIssued,\n      escalations: escalations,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        -16
      ],
      "id": "a5657e49-e52f-4762-83fe-bbbccb27bd73",
      "name": "Calculate Daily Metrics"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appGHmrQxKT7b6Iim",
          "mode": "list",
          "cachedResultName": "Customer Support Ops",
          "cachedResultUrl": "https://airtable.com/appGHmrQxKT7b6Iim"
        },
        "table": {
          "__rl": true,
          "value": "tbllSyAxQwRz20G34",
          "mode": "list",
          "cachedResultName": "Daily Analytics",
          "cachedResultUrl": "https://airtable.com/appGHmrQxKT7b6Iim/tbllSyAxQwRz20G34"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ String($node[\"Calculate Daily Metrics\"].json[\"date\"]).slice(0,10) }}",
            "Auto-resolved %": "={{ $node[\"Calculate Daily Metrics\"].json[\"auto_resolved_percent\"] }}",
            "Refunds Issued": "={{ $node[\"Calculate Daily Metrics\"].json[\"refunds_issued\"] }}",
            "Tickets Today": "={{ $node[\"Calculate Daily Metrics\"].json[\"tickets_today\"] }}",
            "Escalations": "={{ $node[\"Calculate Daily Metrics\"].json[\"escalations\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tickets Today",
              "displayName": "Tickets Today",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Auto-resolved %",
              "displayName": "Auto-resolved %",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Refunds Issued",
              "displayName": "Refunds Issued",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Escalations",
              "displayName": "Escalations",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        16,
        128
      ],
      "id": "dbbaef8a-9760-498c-b585-ebe9dc06a86c",
      "name": "Create Daily Analytics Record",
      "credentials": {
        "airtableTokenApi": {
          "id": "dXCdQFhiS8XBicLs",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appGHmrQxKT7b6Iim",
          "mode": "list",
          "cachedResultName": "Customer Support Ops",
          "cachedResultUrl": "https://airtable.com/appGHmrQxKT7b6Iim"
        },
        "table": {
          "__rl": true,
          "value": "tbllSyAxQwRz20G34",
          "mode": "list",
          "cachedResultName": "Daily Analytics",
          "cachedResultUrl": "https://airtable.com/appGHmrQxKT7b6Iim/tbllSyAxQwRz20G34"
        },
        "filterByFormula": "=IS_SAME({Date}, \"{{ $node[\"Calculate Daily Metrics\"].json[\"date\"] }}\", 'day')",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -384,
        -16
      ],
      "id": "f95fc091-2c8e-4e04-8be6-91aad87ceb21",
      "name": "Search Daily Analytics By Date",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "dXCdQFhiS8XBicLs",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ce98e307-5017-4b7c-8f04-ca143dc1aa37",
              "leftValue": "={{ $json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        -16
      ],
      "id": "5a9345e7-cf82-44d7-abf0-28b8b0a199ed",
      "name": "Analytics Row Exists?(If)"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appGHmrQxKT7b6Iim",
          "mode": "list",
          "cachedResultName": "Customer Support Ops",
          "cachedResultUrl": "https://airtable.com/appGHmrQxKT7b6Iim"
        },
        "table": {
          "__rl": true,
          "value": "tbllSyAxQwRz20G34",
          "mode": "list",
          "cachedResultName": "Daily Analytics",
          "cachedResultUrl": "https://airtable.com/appGHmrQxKT7b6Iim/tbllSyAxQwRz20G34"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $node[\"Search Daily Analytics By Date\"].json[\"id\"] }}",
            "Tickets Today": "={{ $node[\"Calculate Daily Metrics\"].json[\"tickets_today\"] }}",
            "Auto-resolved %": "={{ $node[\"Calculate Daily Metrics\"].json[\"auto_resolved_percent\"] }}",
            "Refunds Issued": "={{ $node[\"Calculate Daily Metrics\"].json[\"refunds_issued\"] }}",
            "Escalations": "={{ $node[\"Calculate Daily Metrics\"].json[\"escalations\"] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tickets Today",
              "displayName": "Tickets Today",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Auto-resolved %",
              "displayName": "Auto-resolved %",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Refunds Issued",
              "displayName": "Refunds Issued",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Escalations",
              "displayName": "Escalations",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        16,
        -144
      ],
      "id": "2c4316db-bd37-4131-a1b9-017a12828acf",
      "name": "Update Daily Analytics Record",
      "credentials": {
        "airtableTokenApi": {
          "id": "dXCdQFhiS8XBicLs",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Run Daily Analytics(Schedule Trigger)": {
      "main": [
        [
          {
            "node": "Search Today Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Today Tickets": {
      "main": [
        [
          {
            "node": "Calculate Daily Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Daily Metrics": {
      "main": [
        [
          {
            "node": "Search Daily Analytics By Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Daily Analytics By Date": {
      "main": [
        [
          {
            "node": "Analytics Row Exists?(If)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analytics Row Exists?(If)": {
      "main": [
        [
          {
            "node": "Update Daily Analytics Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Daily Analytics Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "4HVen4D_MF6gLAzYqivCz"
  },
  "versionId": "bcb39240-a7b9-4eff-9a76-cb813148933b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d361637f1d70339ec01cb1a27fd403eac27fb61b561b025cd2a653356b47936c"
  },
  "id": "7aCGdbpYUv3Hd4dkvWmBi",
  "tags": []
}