Workflows/WF3 - System Error Logger.json.json
{
  "name": "WF3 - System Error Logger",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        0
      ],
      "id": "b9019a90-6624-4432-87a1-0e6e8a94e1c2",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7afebdfe-ecce-4c2d-983b-bb11f1c3b30a",
              "name": "error_time",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "a97fae7c-9e4b-4c02-b90b-32ae25efa931",
              "name": "workflow_name",
              "value": "={{ $json[\"workflow\"][\"name\"] || \"Unknown Workflow\" }}",
              "type": "string"
            },
            {
              "id": "f24f9608-313b-40c3-96c6-dd50de7abbf0",
              "name": "node_name",
              "value": "={{ $json[\"execution\"][\"error\"][\"lastNodeExecuted\"] ?? $json[\"execution\"][\"lastNodeExecuted\"] ?? \"Unknown Node\" }}",
              "type": "string"
            },
            {
              "id": "38f9ac22-4ac0-4720-9da0-cdba8517d33c",
              "name": "error_message",
              "value": "={{ $json[\"execution\"][\"error\"][\"message\"] || \"Unknown error\" }}",
              "type": "string"
            },
            {
              "id": "7d93852b-f083-4a4a-94d7-52a8181fb4da",
              "name": "severity",
              "value": "=High",
              "type": "string"
            },
            {
              "id": "29b1bb11-f679-48c2-81e2-737d5385fb91",
              "name": "status",
              "value": "Open",
              "type": "string"
            },
            {
              "id": "34a4aaee-377d-4664-960e-a30da4fb0a00",
              "name": "customer",
              "value": "={{ \"\" }}",
              "type": "string"
            },
            {
              "id": "5c449c97-c2e6-4914-b20c-f5298a723f7b",
              "name": "phone",
              "value": "={{ \"\" }}",
              "type": "string"
            },
            {
              "id": "119c5d26-8a84-4c96-adcf-35c726dd42e0",
              "name": "incoming_message",
              "value": "={{ \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        0
      ],
      "id": "d9be35c8-f29a-4119-b799-f7ed54ebad26",
      "name": "Format Error Log"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appGHmrQxKT7b6Iim",
          "mode": "list",
          "cachedResultName": "Customer Support Ops",
          "cachedResultUrl": "https://airtable.com/appGHmrQxKT7b6Iim"
        },
        "table": {
          "__rl": true,
          "value": "tblejjzB1nzuU5S4o",
          "mode": "list",
          "cachedResultName": "System Errors",
          "cachedResultUrl": "https://airtable.com/appGHmrQxKT7b6Iim/tblejjzB1nzuU5S4o"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Error Time": "={{ $json.error_time }}",
            "Workflow Name": "={{ $json[\"workflow_name\"] }}",
            "Customer": "={{ $json.customer || \"\" }}",
            "Node Name": "={{ $json.node_name }}",
            "Phone": "={{ $json.phone || \"\" }}",
            "Incoming Message": "={{ $json.incoming_message || \"\" }}",
            "Error Message": "={{ $json.error_message }}",
            "Severity": "={{ $json[\"severity\"] }}",
            "Status": "Open"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Error Time",
              "displayName": "Error Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Workflow Name",
              "displayName": "Workflow Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Node Name",
              "displayName": "Node Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Customer",
              "displayName": "Customer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Incoming Message",
              "displayName": "Incoming Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Severity",
              "displayName": "Severity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Open",
                  "value": "Open"
                },
                {
                  "name": "Resolved",
                  "value": "Resolved"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        272,
        0
      ],
      "id": "9758aaf4-a555-4b50-b9b9-561e536ad032",
      "name": "Create System Error Record",
      "credentials": {
        "airtableTokenApi": {
          "id": "dXCdQFhiS8XBicLs",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Log": {
      "main": [
        [
          {
            "node": "Create System Error Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f61dc4e6-95e3-4c6f-968c-2140db193ea4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d361637f1d70339ec01cb1a27fd403eac27fb61b561b025cd2a653356b47936c"
  },
  "id": "4HVen4D_MF6gLAzYqivCz",
  "tags": []
}